<%= link_to "Back to Home", "/" %>

<h1>
	All Patient Assessment Forms
</h1>

<div class="form-box round-corners">
	<div class="box-content">
		<h3>
			Are you experiencing Neck or Back symptoms?
		</h3>

		<div class="center">
			<%= link_to "Neck", "/NDI", class: "btn btn-primary btn-large", type: "button" %>

			<%= link_to "Back", "/ODI", class: "btn btn-primary btn-large", type: "button" %>
		</div>
	</div>
</div>