<h1>Rush Neuro On-line Assessments</h1>

<div class="form-box round-corners">
	<div class="box-content">
		<h2>Welcome to the Test site!</h2>

		<p>
			Ths site is intended as a test site for the Rush Neuro health and quality of life assessment forms.
		</p>
		<p>
			Depending on the device you're using (e.g. tablet, desktop, mobile phone, etc), you may see an icon in the upper right corner. Clicking this icon will reveal links to various assessment forms.
		</p>
		<p>
			In the aid of rapid prototyping, each assessment form is constructed as a Google Form/Spreadsheet, which is readily accessible from any where there is an internet connection.
		</p>
		<p>
			The collection of forms and spreadsheets can be viewed <a href="https://docs.google.com/folder/d/0B5Cls7usCJOiMExXMW83SVVTZ0k/edit" target="_blank">here,</a> and each form has been populated with test data for example purposes.
		</p>
		<p>
			There are currently no access permissions to aid easy example viewing, but password protections can easily be implemented as needed.
		</p>
		<p>

		</p>
		<p>
			For any questions or inquiries, please contact Rashad Abdul-Salaam:	
		</p>
		<ul>				
			<li>
				<b>Email: </b>rabdulsalaam@gmail.com
			</li>
			<li>
				<b>Phone: </b>(312) 369-9850
			</li>
		</ul>
	</div>

</div>