<%= link_to "Back to Symptom List", "/forms" %>

<h1>Neck Motility Index</h1>

<ul class="breadcrumb">    
  <li class="active">NDI <span class="divider">/</span></li>
  <li><a href="#">NMI</a><span class="divider">/</span></li>
  <li class="active">EQ-5D <span class="divider">/</span></li>
  <li class="active">Extremity Pain </li>
</ul>

<iframe src="https://docs.google.com/a/happyhealth.me/spreadsheet/embeddedform?formkey=dHRfZ01iSE1ZNmNPQWNWdWZYTUltWFE6MQ" height="350" frameborder="0" marginheight="0" marginwidth="0" class="form-box round-corners">Loading...</iframe>

<div class="pull-right">
	<%= link_to "Back", "/NDI", class: "btn btn-link btn-large", type: "button" %>
	<%= link_to "Next", "/EQ-5D", class: "btn btn-primary btn-large", type: "button" %>	
</div>