<table class="table table-bordered">
  <thead>
    <th>Test Name</th>
    <th>Score</th>
  </thead>
  <tr>
    <td><%= link_to "NDI", "/patient/test" %></td>
    <td>50</td>
  </tr>
  <tr>
    <td><%= link_to "NMI", "/patient/test" %></td>
    <td>100</td>
  </tr>
  <tr>
    <td><%= link_to "EQ-5D", "/patient/test" %></td>
    <td>50</td>
  </tr>
  <tr>
    <td><%= link_to "Extremity Pain", "/patient/test" %></td>
    <td>50</td>                
  </tr>              
</table>