<%= link_to "Back to Patients", "/patients" %>

<h1 class="center margin-bottom">John Doe</h1>
<div class="row">
	<div class="span3">
		<table class="table table-bordered margin-bottom">
			<thead>
				<th class="faded">Assessment:</th>
				<th class="faded">Score:</th>
			</thead>
			<tr>		
				<td><h2>NDI</h2></td>
				<td><h2>50</h2></td>
			</tr>
		</table>
		<ul class="nav nav-list left_sidebar">
			<li class="nav-header">Previous NDI Assessments</li>
			<li class="divider"></li>
			<li>NDI 5/1/2013</li>
			<li>NDI 3/27/2013</li>
			<li>NDI 6/4/2012</li>
		</ul>
	</div>
	<div class="span9">
		<div class="form-box round-corners">
			<div class="box-content">
				<table class="table table-bordered table-striped">
					<thead>
						<th>NDI Questions and Answers</th>
					</thead>
					<tr>
						<td><b>Q1.</b> Pain Intensity</td>
					</tr>
					<tr>
						<td><b>A1.</b> The pain is the worst imaginable at the moment.</td>
					</tr>
					<tr>
						<td><b>Q2.</b> Personal Care</td>
					</tr>
					<tr>
						<td><b>A2.</b> I do not get dressed, I wash with difficulty and stay in bed.</td>
					</tr>
					<tr>
						<td><b>Q3.</b> Lifting</td>
					</tr>
					<tr>
						<td><b>A3.</b> I cannot lift or carry anything at all.</td>
					</tr>
					<tr>
						<td><b>Q4.</b> Reading</td>
					</tr>
					<tr>
						<td><b>A4.</b> I cannot read at all.</td>
					</tr>
					<tr>
						<td><b>Q5.</b> Headaches</td>
					</tr>
					<tr>
						<td><b>A5.</b> I have headaches almost all the time.</td>
					</tr>
					<tr>
						<td><b>Q6.</b> Concentration</td>
					</tr>
					<tr>
						<td><b>A6.</b> I cannot concentrate at all.</td>
					</tr>
					<tr>
						<td><b>Q7.</b> Work</td>
					</tr>
					<tr>
						<td><b>A7.</b> I can't hardly do any work at all.</td>
					</tr>
					<tr>
						<td><b>Q8.</b> Driving</td>
					</tr>
					<tr>
						<td><b>A8.</b> I can't drive my car at all.</td>
					</tr>
					<tr>
						<td><b>Q9.</b> Sleeping</td>
					</tr>
					<tr>
						<td><b>A9.</b> My sleep is completely disturbed (5-7 hr's sleepless).</td>
					</tr>
					<tr>
						<td><b>Q10.</b> Recreation</td>
					</tr>
					<tr>
						<td><b>A10.</b> I can't do any recreation activities at all.</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>