body {
 	background: #eee;
 }

 h3 {
 	text-align: center;
 }

 .container {
 	height: 100%;
 }

.main {
	height: 100%;
	margin: 0 auto 20px;
}

.box-content {
	padding: 10px 10px 20px 10px;		
}

.form-box {
	width: 100%;
	/*box-shadow: 0 10px 25px #555;*/
	border: 1px solid #ddd;
	background: #fff;
	margin-bottom: 20px;
	padding-bottom: 20px;		
}

.left_sidebar {
	border: 1px solid #ddd;
	background: #fff;
	margin-bottom: 20px;
	padding-bottom: 20px;
	max-width: 100%;
}

.round-corners {
	border-radius: 4px;
}

.center {
	width: 200px;
	margin: 0 auto;
}

.form-horizontal {
	background: #f6f6f6;
	border: 2px solid #aaa;
	border-radius: 4px;
	margin: auto;
	width: 450px;
	height: auto;
	padding-top: 20px;	
}

.accordion-inner {
	background: #f6f6f6;	
}

.table {
	background: #fff;
}

.faded {
	color: #aaa;
}

.margin-bottom {
	margin-bottom: 10px;
}