 body {
 	background: #eee;
 }

.container {
	height: 100%;
	margin: 0 auto 20px;
}

.form-box {
	width: 100%;
	box-shadow: 0 10px 25px #555;
	background: #aaa;	
}

.round-corners {
	border-radius: 5px;
}

.nav {
	float: right;
}